#modal-overlay {
	background: rgba(0,0,0,0.5);
/* 	max-height:100vh; */
/* 	max-width:100vh; */
/* 	padding: 0.5em; */
	box-sizing:border-box;
}

#modal-box {
	box-sizing:border-box;
	/* subtract the height of the padding? */
/* 	max-height:calc(100vh - 50px); */
/* 	max-width:calc(100vw - 50px); */
}

.taeluf-button {
	/* @TODO Add key-handling that's identical to buttons, via js. I think jjust by making [space] click it too */
	background:lightgrey;
	border: 1px solid black;
	padding: 8px;
	border-radius: 8px;
	display:inline-block;
	margin:2px;
	text-decoration:none;
	color:black;
	cursor:pointer;
}

.taeluf-button:hover {
	color:lightgrey;
	background:#333;
}