.tlf_task_content {
	background:white;
	padding: 0.2em;
	box-sizing:border-box;
}
.tlf_task_content p {
	padding:0.5em;
}
.tlf_task_content table {
	margin-left:0.5em;
}
.tlf_task_content h2, .tlf_task_content h3 {
	border-bottom: 1px solid black;
}

.tlf_task_content article {
	min-height: 10px;
}

.sidebar-content {
	overflow-x:hidden;
}

* {
	box-sizing:border-box !important;
}

#main {
	position:relative;
}

#project-header {
	position:relative;
}
#board-container {
	position:absolute;
}